.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: space-between; /* Evenly spaces the input groups */
  margin: 20px; /* Optional: add some margin around the container */
}

.input-group {
  flex: 1; /* Make each input group take equal space */
  margin: 0 10px; /* Add some spacing between input groups */
  display: flex;
  flex-direction: column; /* Stack label above input */
}

label {
  margin-bottom: 5px; /* Add some space between label and input */
}

input {
  padding: 10px; /* Add padding inside inputs */
  box-sizing: border-box; /* Include padding and border in total width */
}
